@import '@economist/component-silver-barchart';

/*  Chart outer wrapper nestles round child SVG object */
.d3-chart-outer-wrapper {
  display: inline-block;
  /* Show larger than life... */
  /* For Chrome and Safari */
  zoom: 135%;
  /* For Firefox */
  -moz-transform: scale(1.3) translateX(11.8%);
  -moz-transition: width .5s, height .5s;
  -o-transition: width .5s, height .5s;
  -webkit-transition: width .5s, height .5s;
  transition: width .5s, height .5s;
}

.svg-wrapper {
  width: 100%;
  height: 100%;
}
