@import '@economist/component-silver-barchart';
@import '@economist/component-silver-chartmargins';


/*  Chart outer wrapper. Width & height are currently
    set as inline styles, from 'dimensions' preference
*/

.d3-chart-outer-wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
}
