/* @import '@economist/component-silver-barchart'; */

/*  Chart outer wrapper nestles round child SVG object */

.silver-chartwrapper {
  display: inline-block;
  background-color: #ccc;
  transform: scale(1.3) translateX(11.8%);
  transition-duration: 0.5s, 0.5s;
  transition-property: height, width;
  /* Show larger than life... */
  /* For Chrome and Safari */
  zoom: 135%;
}

.svg-wrapper {
  width: 100%;
  height: 100%;
  /* transition: width 500, height 500; */
}
